@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flash {
  opacity: 0;
  display: absolute;
  animation: flash 0.2s;
}

@keyframes flash {
  from {
    display: none;
    opacity: 0;
  }

  50% {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
